.u-section-1 .u-sheet-1 {
  min-height: 1482px;
}

.u-section-1 .u-text-1 {
  font-family: "Archivo Black";
  font-size: 3.75rem;
  width: 862px;
  margin: 67px auto 0;
}

.u-section-1 .u-list-1 {
  width: 822px;
  grid-template-rows: auto auto auto;
  margin: 83px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 1194px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-1 {
  width: 308px;
  height: 308px;
  background-image: url("images/7f9b1331b2c1873afdc6ddd5166a720423589517e297fdec63cd81a76f6cc70d2097830dd173636d1bb02a0811e7051b0ff8b41148b32febe10758_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 464px;
  min-height: 331px;
  margin: -308px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 0 30px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 16px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-2 {
  width: 308px;
  height: 308px;
  background-image: url("images/a14bb75b94e55b11f1562100ea3a418ccd4389f053eff6b96f3644e4a685a86b023881f5a66206ad76c4936a8cd2464b3a74684a7bac8402151b7d_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-2 {
  width: 464px;
  min-height: 331px;
  background-size: auto;
  margin: -308px 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 0 30px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-line-2 {
  height: 3px;
  transform-origin: right center;
  margin: 16px auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-3 {
  width: 308px;
  height: 308px;
  background-image: url("images/1a12ecc85a7f9383462d8bc0b272c7235d8679e26c688581142a50f7e52247689036574ddb4828a28f05912a272f1122659531a37c4571b3da8314_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-3 {
  width: 464px;
  min-height: 331px;
  background-size: auto;
  margin: -308px 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 0 0 30px;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-line-3 {
  height: 3px;
  transform-origin: right center;
  margin: 16px auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 396px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 396px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
  }

  .u-section-1 .u-group-3 {
    width: 396px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2374px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 3rem;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 325px;
    height: 325px;
  }

  .u-section-1 .u-group-1 {
    min-height: 258px;
    width: 541px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 325px;
    height: 325px;
  }

  .u-section-1 .u-group-2 {
    min-height: 258px;
    width: 541px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 325px;
    height: 325px;
  }

  .u-section-1 .u-group-3 {
    min-height: 258px;
    width: 541px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 61px;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 84px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-2 {
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-3 {
    margin-left: auto;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }
}